# Copyright (c) 2024 Realtek Semiconductor Corp.
# SPDX-License-Identifier: Apache-2.0

if REALTEK_AMEBA_ZEPHYR_WIFI

config BT_COEXIST
	bool "Enable CoExist"
	default y if !SOC_SERIES_AMEBAD

	select COEXIST_HOST if !SINGLE_CORE_WIFI

	select ZEPHYR_SDK

config COEXIST_HOST
	bool
config COEXIST_DEV
	bool
config ZEPHYR_SDK
	bool

if BT_COEXIST && !SOC_SERIES_AMEBAD

config COEXIST_EXT
	bool "Enable Ext Coex Support"
	default n
	select COEX_EXT_CHIP_SUPPORT

choice COEX_EXT_PTA_MODE
	prompt "PTA Mode"
	depends on COEXIST_EXT
	default EXT_PTA_MODE_SIMPLE
	config EXT_PTA_MODE_SIMPLE
		bool "PTA Mode Simple"
	config EXT_PTA_MODE_MULTIPLE
		bool "PTA Mode Multiple"
endchoice

choice COEX_EXT_PROTOCOL
	prompt "Ext Protocol"
	depends on COEXIST_EXT
	default EXT_PROTOCOL_WPAN
	config EXT_PROTOCOL_WPAN
		bool "Ext WPAN"
	config EXT_PROTOCOL_BT
		bool "Ext BT"
	config EXT_PROTOCOL_BT_WPAN
		bool "Ext BT&WPAN"
endchoice

choice COEX_EXT_PRIORITY_MODE
	prompt "Priority Mode"
	depends on COEXIST_EXT
	default EXT_PRIORITY_DIRECTIONAL
	config EXT_PRIORITY_DIRECTIONAL
		bool "Directional"
	config EXT_PRIORITY_STATIC
		depends on EXT_PTA_MODE_SIMPLE
		bool "Static"
endchoice

choice COEX_EXT_REQUEST_POLAR
	prompt "Request Polar"
	depends on COEXIST_EXT
	default EXT_REQUEST_POLAR_HIGH
	config EXT_REQUEST_POLAR_HIGH
		bool "Request Active High"
	config EXT_REQUEST_POLAR_LOW
		depends on EXT_PTA_MODE_SIMPLE
		bool "Request Active Low"
endchoice

choice COEX_EXT_GNT_POLAR
	prompt "Gnt Polar"
	depends on COEXIST_EXT
	default EXT_GNT_POLAR_LOW
	config EXT_GNT_POLAR_LOW
		bool "Gnt Active Low"
	config EXT_GNT_POLAR_HIGH
		depends on EXT_PTA_MODE_SIMPLE
		bool "Gnt Active High"
endchoice

config EXT_PRI_DET_TIME
	int "Priority Det Time"
	depends on COEXIST_EXT
	range 0 254
	# 2 for RTL8771H; 0 for Silicon Thread RCP
	default 2

config EXT_TRX_DET_TIME
	int "TRX Det Time"
	depends on COEXIST_EXT
	range 0 254
	# 8 for RTL8771H; 20 for Silicon Thread RCP
	default 8

# PTA PINMUX PIN set
config EXT_PTA_PIN_REQ
	string "Pin PTA Request"
	depends on COEXIST_EXT
	default "PB_0" if SOC_SERIES_AMEBADPLUS
	default "PA_21" if SOC_SERIES_AMEBAG2
	default "PA_26" if SOC_SERIES_AMEBAD

config EXT_PTA_PIN_PRI
	string "Pin PTA Priority"
	depends on COEXIST_EXT
	default "PB_2" if SOC_SERIES_AMEBADPLUS
	default "PA_18" if SOC_SERIES_AMEBAG2
	default "PB_1" if SOC_SERIES_AMEBAD

config EXT_PTA_PIN_GNT
	string "Pin PTA Gnt"
	depends on COEXIST_EXT
	default "PB_1" if SOC_SERIES_AMEBADPLUS
	default "PA_19" if SOC_SERIES_AMEBAG2
	default "PA_27" if SOC_SERIES_AMEBAD

config COEX_EXT_CHIP_SUPPORT
	bool

endif # BT_COEXIST && !SOC_SERIES_AMEBAD

endif # REALTEK_AMEBA_ZEPHYR_WIFI
